<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div id="questions" class="col-12 col-sm-6 col-lg-8">
                <div id="quiz" class="grid">
                    <div class="row ">
                        <div class="col-12 qTitle">
                            <h1>Quiz{{quizId}}</h1>
                            <hr style="margin-bottom: 10px">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p id="question">{{currentQuestion.question}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="buttons">
                                <button id="btn0" *ngFor="let choices of currentQuestion.choices" (click)="checkChoice(choices)">{{choices}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <hr style="margin-top: 50px">
                            <label for="">Points: {{currentPoints}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="endCard" class="col-12 col-sm-6 col-lg-8 hidCard">
                <div id="quiz" class="grid">
                    <div class="row ">
                        <div class="col-12 qTitle">
                            <h1>Result</h1>
                            <hr style="margin-bottom: 10px">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <label for="">Points: </label>{{currentPoints}}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <p id="question">{{endCardResult}}</p>
                            <img src={{endCardimage}}>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div class="buttons">
                                <button id="btn0" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>






    <script src="./quiz_controller.js"></script>
    <script src="./question.js"></script>
    <script src="./app1.js"></script>
</body>

</html>