<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                    <a class="navbar-brand" href="#">Quiz U</a>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="/about" class="nav-link">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">Catagories</a>
                                <div class="dropdown-menu" aria-labelledby="dropdown01">
                                    <a class="dropdown-item" href="#">Category1</a>
                                    <a class="dropdown-item" href="#">Category2</a>
                                    <a class="dropdown-item" href="#">Category3</a>
                                </div>
                            </li>
                        </ul>

                        <form class="form-inline mt-2 mt-md-0">
                            <button class="btn btn-outline-success my-2 my-sm-0" type="Profile" (click)="Profile()">Profile</button>
                        </form>

                        <ul class="navbar-nav px-3">
                            <li class="nav-item">
                                <a class="nav-link" (click)="logOut()" href="#">Log Out</a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar navbar-dark bg-dark shadow-sm">
                        <div class="container d-flex justify-content-between">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
        <div role="main" class="row">

            <div class="col-md-3">

            </div>
            <div id="questions" class="col-12 col-sm-6 col-lg-8 bump">
                <div id="quiz" class="grid">
                    <div class="row ">
                        <div class="col-12 qTitle">
                            <h1>Quiz{{quizId}}</h1>
                            <hr style="margin-bottom: 10px">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p id="question">{{currentQuestion.question}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="buttons">
                                <button id="btn0" *ngFor="let choices of currentQuestion.choices" (click)="checkChoice(choices)">{{choices}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <hr style="margin-top: 50px">
                            <label for="">Points: {{currentPoints}}</label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="endCard" class="col-12 col-sm-6 col-lg-8 hidCard bump">
                <div id="quiz" class="grid">
                    <div class="row ">
                        <div class="col-12 qTitle">
                            <h1>Result</h1>
                            <hr style="margin-bottom: 10px">
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <label for="">Points: </label>{{currentPoints}}
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <p id="question">{{endCardResult}}</p>
                            <img src={{endCardimage}}>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12">
                            <div class="buttons">
                                <button id="btn0" (click)="back()">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>
    <script src="./quiz_controller.js"></script>
    <script src="./question.js"></script>
    <script src="./app1.js"></script>
</body>

</html>