<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Quiz U</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">

</head>

<body>
  <!-- NAVIGATION BAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Quiz U</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Catagories</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="#">Category1</a>
            <a class="dropdown-item" href="#">Category2</a>
            <a class="dropdown-item" href="#">Category3</a>
          </div>
        </li>
      </ul>

      <form class="form-inline mt-2 mt-md-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="Profile" (click)="Profile()">Profile</button>
      </form>

      <ul class="navbar-nav px-3">
        <li class="nav-item">
          <a class="nav-link" (click)="logOut()" href="#">Log Out</a>
        </li>
      </ul>
    </div>

    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>

  </nav>
  <!-- NAVIGATION BAR -->

  <main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Hello, Welcome to Quiz U!</h1>
        <p class="lead text-muted">Here you can take many of our quizzes to find out more about your personality, relationships,
          and much more! Get started below!</p>
      </div>
    </section>
    <!-- QUIZ TILES -->
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p style="text-align: center" class="card-text">What is your personality type?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a routerLink="/quiz/1"><img src="../../assets/Images/who-am-i.jpg"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p style="text-align: center" class="card-text">Who is your most compatible partner?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a routerLink="/quiz/2"><img src="../../assets/Images/lover.jpg"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p style="text-align: center" class="card-text">How close are you and your best friend?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a routerLink="/quiz/3"><img src="../../assets/Images/bffs.jpeg"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p style="text-align: center" class="card-text">What Kind Of Taco Are You?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <!-- <a href="quiz/4" class="text-muted">Quiz 4</a> -->
                  <a routerLink="/quiz/4"><img src="../../assets/Images/Taco.jpg"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">What Anime Character Are You?</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a routerLink="/quiz/5"><img src="../../assets/Images/anime.jpg"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">Adventure</p>
                <div class="d-flex justify-content-between align-items-center">
                  <a routerLink="/quiz/6"><img src="../../assets/Images/Adventure.jpg"></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">What Game Character Are You?</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a routerLink="/quiz/7"><img src="../../assets/Images/VideoGames.jpg"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">What Movie Should You Watch?</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a routerLink="/quiz/8"><img src="../../assets/Images/Movie.jpg"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="card-body">
                <p class="card-text">How Gamer Are You?</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a routerLink="/quiz/9"><img src="../../assets/Images/Gamer.jpg"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
  <script src="https://getbootstrap.com/docs/4.1/dist/js/bootstrap.min.js"></script>
</body>

</html>