.container {
    max-width: 960px;
    padding-top: 10%;
    padding-left: 5%;
  }
  
  .lh-condensed { line-height: 1.25; }

  
body {
 
  background-image: url("../../assets/Images/LoginPage.png");
  background-repeat: no-repeat;
  background-size:cover;
 
}